 <body>

 <br><br><br><br><br>
 <!--================================================== LOCAL #1 ================================================== -->
    <div class="col-sm-4">
      <p id="titulos"><strong>BOLIVAR 706</strong></p><br>
      <a>
        <img src="/assets/img/a.jpg" class="img-circle person center" alt="Random Name" width="255" height="255">
      </a>
       <div id="demo" class="col-sm-4">
        <p>Teléfonos</p>
        <p>4300-6411</p>
        <p>4300 6412</p>
      </div>
    </div>
    <!-- Add Google Maps -->
        <div  id="googleMap" style="width:800px;height:300px;"></div>
        <br>
        <br>
 <!-- ================================================== LOCAL #2 ================================================== -->    
    <div class="col-sm-4">
      <p id="titulos"><strong>CORRIENTES 4995</strong></p><br>
      <a>
        <img src="/assets/img/b.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="col-sm-4">
       
        <br>
        <p>Teléfonos</p>
        <p>	4854-6465</p>
        <p>4854-0904</p>
      </div>
    </div>
     <br>
     <!-- Add Google Maps -->
        <div id="googleMap1" style="width:800px;height:300px;"></div>
         <br>
         <br>
 <!-- ================================================== LOCAL #3 ================================================== -->
    <div class="col-sm-4">
      <p id="titulos"><strong>DIAZ VELEZ 3839</strong></p><br>
      <a>
        <img src="/assets/img/c.jpg" class="img-circle person text-center" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="col-sm-4">
        <br>
        
        <p>Teléfonos</p>
        <p>4982-8444</p>
        <p>4958-7574</p>
      </div>
    </div>
    <!-- Add Google Maps -->
    <div id="googleMap2" style="width:800px;height:300px;"></div>
<br>
<br>

 </body>