 body {
      font: 400 15px/1.8 Lato, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;   
}

#titulo{
    background: #2d2d30;
    color: #bdbdbd;
  
}
#titulo h3 {color: #fff;}
#titulo p {font-style: italic;}

.thumbnail p {
    margin-top: 15px;
    color: #555;
  
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
ul {
    overflow: none;
    position: relative;
    top: 30px;
    left: 80px;    
    width: 70em;
}
ul div {
    list-style: none;
    float: left;
    margin: 15px;
}
ul div div {
    color: black;
    display: block;
    height: 30em;
    padding: 2em;
    text-decoration: none;   
    width: 18em; 
}
p {
    font-size:100%;
}