.table{
    /*background:rgba(0,0,0,.7);*/
    background: rgba(255,255,255,0.5);
    width: 80%;
    height: 20%;
    overflow-x: hidden;
    position: absolute;
}
#tbProductos{
    margin-top: 100px;
}
.nav-tabs {
   background:rgba(0,0,0,.7);
}
.nav-tabs li a{
     background: rgba(255,255,255,0.5);
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}